* {
	font-family: Georgia;
}

#map {
	height: 100%;
	width: 80%;
	float: left;
}

#people-div {
	height: 100%;
	width: 20%;
	float: left;
	background-color: ivory;
	overflow-y: auto;
}

.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	padding: 5px;
}

.people-tab-button {
	border-radius: 8px;
	font-size: 16px;
	padding: 5px 10px;
}

.people-tab-button:hover {
	cursor: pointer;
}

.selected-tab {
	background-color: darkgray;
}

.hidden {
	display: none;
}

.subcustomer:hover {
	cursor: pointer;
}

.drop {
	background-color:EEEEFF; 
	border-style: solid; 
	border-radius: 4px;
	border-width: 1px;
}

.drop:hover {
	background-color: F9F9F9;
}

.select-items {
	background-color: F9F9F9;
}

.keys {
	display: inline-block; 
	margin: 5px; 
	background-color:E0E0F0; 
	font-size: 14px; 
	padding: 4px; 
	padding-left: 5px; 
	padding-right: 5px; 
	border-style: groove; 
	border-radius: 4px;
}

.sbutton {
	background-color:EEEEFF; 
	border-style: solid; 
	border-radius: 4px;
	border-width: 1px;
}

.sbutton:hover {
	background-color: F9F9F9;
}

.xbutton {
	margin-right: -5px; 
	margin-top: -5px;
	border: none; 
	background: none; 
	margin-left: 5px; 
	float: right; 
	font-size: 18px;
}

.xbutton:hover {
	color: red;
}

.xbutton:focus {
	border: none;
	outline: 0;
}

